:root{
    --primary-color: rgb(166, 135, 216);
    --secondary-color: rgb(0, 0, 0);
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

input, label{
    display: block;
}

input{
    margin-bottom: 0.5rem ;
    width: 100%;
}

#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--secondary-color);
    border-color: rgb(135, 223, 238);
    padding: 0.5rem;
    border-radius: 0.3rem;
}